### 문제 정의
- 훈련 데이터와 테스트 데이터 이해하기
- 머신러닝의 일련의 과정 이해하기
- AND연산의 결과를 도출하는 머신러닝 모델 학습하기

### Example

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
# 방법1. 이중리스트
# 방법2. 딕셔너리
dic = {'A':[0,0,1,1,1,0,1,0], 'B':[0,1,0,1,0,0,1,1]}

In [3]:
AandB = []
for i in range(len(dic['A'])):
    if dic['A'][i] == 1 and dic['B'][i] == 1:
        AandB.append(1)
    else:
        AandB.append(0)

In [4]:
dic['A and B'] = AandB

In [5]:
df = pd.DataFrame(dic)
df

   A  B  A and B
0  0  0        0
1  0  1        0
2  1  0        0
3  1  1        1
4  1  0        0
5  0  0        0
6  1  1        1
7  0  1        0

In [6]:
# 선생님 풀이)
# df.iloc[:,-1]도 가능하다
dic = {'A':[0,0,1,1,1,0,1,0], 'B':[0,1,0,1,0,0,1,1]}
df.loc[:, 'A':'B']

   A  B
0  0  0
1  0  1
2  1  0
3  1  1
4  1  0
5  0  0
6  1  1
7  0  1

In [7]:
# 크기확인
df.shape

(8, 3)

In [8]:
# X_train - 훈련용(0~5행 접근), X_test - 테스트용(6~7행 접근)
# y_train - 훈련용(0~5행 접근), y_test - 테스트용(6~7행 접근)

In [9]:
X_train = df.loc[0:5,'A':'B']
X_train

   A  B
0  0  0
1  0  1
2  1  0
3  1  1
4  1  0
5  0  0

In [10]:
X_test = df.loc[6:7,'A':'B']
X_test

   A  B
6  1  1
7  0  1

In [11]:
y_train = df.loc[0:5,'A and B']
y_train

0    0
1    0
2    0
3    1
4    0
5    0
Name: A and B, dtype: int64

In [12]:
y_test = df.loc[6:7,'A and B']
y_test

6    1
7    0
Name: A and B, dtype: int64

###### 데이터 탐색(탐색적 데이터 분석)
- a 컬럼 int 데이터, 0/1
- b 컬럼 int 데이터, 0/1
- a and b 컬럼 int 데이터, 0/1
- 결측치x, 이삭치x

##### 모델링
- 모델 선택 및 하이퍼 파라미터 조정
- 모델 학습
- 모델 예측 및 평가

# 모델 불러오기
- 분류하는 모델 중 KNN 모델을 불러오기
- sklearn 머신러닝 패키지 : 머신러닝에 사용되는 도구를 담은 패키지
- 지도/비지도/강화, 분류/회귀, 평가 공식(기능), 데이터 전처리하는 기능
- (싸이킷 런 scikit-learn)

In [22]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [636]:
# 모델 객체 생성
# 모델마다 하이퍼 파라미터명 다름, 쓰임 다름
# KNN에서는 n_neighbors가 하이퍼 파라미터 (사람이 설정하는 값)

# 하이퍼 파라미터에 따라 결과가 바뀜
# 예측이 잘 되는 값이 있고, 안될 때가 있는거구나!

knn_model = KNeighborsClassifier(n_neighbors=1)

In [616]:
# 모델 학습
# 모델이 학습할 때 사용하는 함수 : fit()
# knn_model.fit(x_train, y_train)
knn_model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [634]:
# and 연산에 대해 잘 학습한 것을 볼 수 있다.
# 예측이 틀릴 수도 있음
pre = knn_model.predict(X_test)
pre # 예측 결과를 담은 변수

array([1, 0], dtype=int64)

In [635]:
X_test

   A  B
6  1  1
7  0  1

In [1004]:
# 모델 평가 - 예측이 실제 값과 비교했을 때 몇개나 잘 맞췄는지 표현하는 점수 척도
accuracy_score(y_test, pre) # 1.0 * 100 - 100% 전체 다 맞춤

1.0