#### 목표
 - 붓꽃 꽃잎의 길이/너비, 꽃받침의 길이/너비 특징을 활용해서 3가지 품종을 분류하는 모델을 만들어보장
 - KNN 모델의 이웃의 숫자를 조절해보자. (k 개수를 조절)

In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier # 분류
from sklearn.metrics import accuracy_score # 정확도 층정
from sklearn.model_selection import train_test_split # train, test 분리하는 도구

In [60]:
from sklearn.datasets import load_iris # 붓꽃 데이터 불러오기
# 딕셔너리처럼 활용 가능 => 자료형태 : bunch 객체
iris_data = load_iris()
iris_data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [62]:
data = iris_data.data
target = iris_data.target
data = pd.DataFrame(data)

x_train, x_val = train_test_split(data, test_size=0.3, random_state=2000)
y_train, y_val = train_test_split(target, test_size=0.3, random_state=2000)
knn_model = KNeighborsClassifier(n_neighbors=4)
knn_model.fit(x_train,y_train)
pre = knn_model.predict(x_val)
pre # 예측 결과를 담은 변수
accuracy_score(y_val, pre)

0.9555555555555556

In [63]:
data.columns = iris_data.feature_names
data

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]